body {
    font-family:Tahoma;
    font-size:10pt;
}

#content{
    max-width:800px;
    margin:auto;
    background-color:#F7F7F7;
    padding:10px;
}

.Background {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.Popup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 550px;
    height: 600px;
}

.addGrade {
    height:300px;
}

.lbl {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

#addCourseTable th {
    text-align: right;
    padding-right: 10px;
}

#addCourseTable td, #courseGradingTable td {
    text-align:center;
}

.gradeEntry{
    width:50px;
    text-align:center;
}